body{
    background-color: #b8c0ff;
}
h1,h2{
    color: #344e41;
}
button{
    font-size: 25px;
    background-color: #ffd6ff;
}
#signup{
    background-color: #ff595e;
    color: #aec3b0;
}
.tag{
    font-size: 20px;
    color: #3d348b;
}
button:hover{
    background-color: blue;
    font-size: 20px;
}
a:hover{
    text-decoration: underline;
}
a{
    text-decoration: none;
    font-weight: bold;
}
#signup:active{
    background-color: #ffd6ff;
    color: aqua;
}
.post:nth-of-type(2n){
    background-color: #c9ada7;
}
h2::first-letter{
    font-size: 40px;
    color: #06d6a0;
}